@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.phpdebugbar {
    font:12px/1.5 "Open Sans", Helvetica,Arial,Verdana,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #272727;
    z-index: 10000;
    color: #fff;
    text-align: left;
}
.phpdebugbar-closed {
    width: auto;
}
.phpdebugbar * {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
a.phpdebugbar-restore-btn {
    float: left;
    padding: 5px 8px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}
.phpdebugbar-resize-handle {
    display: none;
    height: 4px;
    width: 100%;
    background: #fff;
    cursor: n-resize;
}
/* -------------------------------------- */
.phpdebugbar-header {
    background: #333333 url(php-icon.jpg) no-repeat 4px 7px;
    padding-left: 36px;
    min-height: 40px;
    line-height: 30px;
}
.phpdebugbar-header:before, .phpdebugbar-header:after {
    display: table;
    line-height: 0;
    content: "";
}
.phpdebugbar-header:after {
    clear: both;
}
.phpdebugbar-header-left {
    float: left;
}
.phpdebugbar-header-right {
    float: right;
}
.phpdebugbar-header > div > * {
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.phpdebugbar-header-left > * {
    float: left;
}
.phpdebugbar-header-right > * {
    float: right;
}
.phpdebugbar-header-right > select {
    padding: 0;
}
/* -------------------------------------- */
span.phpdebugbar-indicator,
a.phpdebugbar-indicator {
    border-right: 1px dotted #505050;
}
span.phpdebugbar-indicator:last-child     {
    border-left: 1px dotted #505050;
}
a.phpdebugbar-tab.phpdebugbar-active {
    background: #26ADE4;
    color: #fff;
    line-height: 30px;
    border-bottom: 2px solid #00DFFC;
}
a.phpdebugbar-tab span.phpdebugbar-badge {
    display: none;
    margin-left: 15px;
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
    background: #3C3C3C;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    vertical-align: middle;
}
span.phpdebugbar-indicator .fa-cogs,
a.phpdebugbar-indicator .fa-cogs,
a.phpdebugbar-open-btn .fa-cogs,
a.phpdebugbar-minimize-btn .fa-cogs,
span.phpdebugbar-indicator .fa-clock-o,
a.phpdebugbar-indicator .fa-clock-o,
a.phpdebugbar-open-btn .fa-clock-o,
a.phpdebugbar-minimize-btn .fa-clock-o {
  color: #4DBCE9;
}
a.phpdebugbar-tab i {
    display: none;
    vertical-align: middle;
}
a.phpdebugbar-tab span.phpdebugbar-badge.phpdebugbar-important {
    background: #ed6868;
    color: white;
}
a.phpdebugbar-close-btn {
    background: url(icons.png) no-repeat 10px 13px;
    width: 16px;
    height: 16px;
}
a.phpdebugbar-open-btn {
    background: url(icons.png) no-repeat -14px 8px;
    width: 16px;
    height: 16px;
}
.fa.fa-search {
    font-size: 14px;
    padding-left: 10px;
}
a.phpdebugbar-restore-btn {
    background: #333333 url(php-icon.jpg) no-repeat 6px 5px;
    width: 26px;
    height: 24px;
}
.phpdebugbar-indicator {
    position: relative;
    cursor: pointer;
}
.phpdebugbar-indicator span.phpdebugbar-text {
    margin-left: 5px;
    color: #fff;
    line-height: 31px;
}
.phpdebugbar-indicator span.phpdebugbar-tooltip {
    display: none;
    position: absolute;
    top: -30px;
    background: #efefef;
    opacity: .7;
    border: 1px solid #ccc;
    color: #555;
    font-size: 11px;
    padding: 2px 3px;
    z-index: 1000;
    text-align: center;
    width: 200%;
    right: 0;
}
.phpdebugbar-indicator:hover span.phpdebugbar-tooltip:not(.phpdebugbar-disabled) {
    display: block;
}
select.phpdebugbar-datasets-switcher {
    float: right;
    display: none;
    font-size: 12px;
    margin: 11px 5px 0 11px;
    max-width: 200px;
    max-height: 23px;
    padding: 0;
    color: #000;
}
/* -------------------------------------- */
.phpdebugbar-body {
    display: none;
    position: relative;
    height: 250px!important;
}
/* -------------------------------------- */
.phpdebugbar-panel {
    display: none;
    height: 100%;
    overflow: auto;
    width: 100%;
}
.phpdebugbar-panel.phpdebugbar-active {
    display: block;
}
/* -------------------------------------- */
.phpdebugbar-mini-design a.phpdebugbar-tab {
    position: relative;
    border-right: 1px dotted #505050;
}
.phpdebugbar-mini-design a.phpdebugbar-tab:last-child {
    border-right: transparent;
}
.phpdebugbar-mini-design a.phpdebugbar-tab span.phpdebugbar-text {
    display: none;
}
.phpdebugbar-mini-design a.phpdebugbar-tab:hover span.phpdebugbar-text {
    display: block;
    position: absolute;
    top: -30px;
    background: #efefef;
    opacity: .7;
    border: 1px solid #ccc;
    color: #555;
    font-size: 11px;
    padding: 2px 3px;
    z-index: 1000;
    text-align: center;
    right: 0;
}
.phpdebugbar-mini-design a.phpdebugbar-tab i {
    display:inline-block;
    line-height:28px;
}